<form method='POST'  action='' enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <div>
        <label for="">Chọn phương tiện:</label>
        {% for value, text in vehicles %}
            <input type="checkbox" name="{{value}}" id="{{value}}" value="{{value}}">
            <label for="{{value}}">{{text}}</label>
        {% endfor %}
    </div>
    <div>
        <label for="images">Upload các ảnh tour</label>
        <input type="file" required multiple name='images' id="images">
    </div>
    {% if 'update' not in request.path %}
        <button type='submit'>Tạo Tour</button>
    {% else %}
        <button type='submit'>Cập nhật tour</button>
    {% endif %}

    {{form.errors}}
    
</form>