{% extends "main-2.html" %}

{% block toursContent %}

{% comment %} HOT TOURS {% endcomment %}
<div class="hot-tours tours-section">
    {% include 'Components/tour-section-header.html' with subtitle="Hãy đặt tour sớm nhất" title="CÁC TOUR HOT NHẤT NĂM 2022" content="Các tour tìm kiếm và được đặt nhiều nhất nhất trong năm 2022, bạn có thể đặt trước từ bây giờ để có giá tốt nhất"%}
    <div class="section-content image-slider">
        {% for tour in hotTours %}
            {% if tour.tour.isHot == True %}
                {% include 'Components/tour-card.html' with Tour=tour%}
            {% endif %}
        {% endfor %}
    </div>
    <div class="see-more">
        <button class="see-more-btn"><a href="">Xem thêm</a></button>
    </div>
</div>

{% comment %} TOUR TRONG NƯỚC {% endcomment %}
<div class="domestic-tours tours-section">
    {% include 'Components/tour-section-header.html' with subtitle="Hãy đặt tour sớm nhất" title="CÁC TOUR TRONG NƯỚC NĂM 2022" content="Các tour du lịch Việt Nam năm 2022"%}
    <div class="section-content image-slider">
        {% for tour in tours %}
            {% if tour.tour.isDomestic == True %}
                {% include 'Components/tour-card.html' with Tour=tour%}
            {% endif %}
        {% endfor %}
    </div>
    <div class="see-more">
        <button class="see-more-btn"><a href="">Xem thêm</a></button>
    </div>
</div>

{% comment %} Tour nước ngoài {% endcomment %}
<div class="foreign-tours tours-section">
    {% include 'Components/tour-section-header.html' with subtitle="Hãy đặt tour sớm nhất" title="TOUR NƯỚC NGOÀI NĂM 2022" content="Trải Nghiệm Thế Giới, Khám Phá Bản Thân"%}
    <div class="section-content image-slider">
        {% for tour in tours %}
            {% if tour.tour.isDomestic == False %}
                {% include 'Components/tour-card.html' with Tour=tour%}
            {% endif %}
        {% endfor %}
    </div>
    <div class="see-more">
        <button class="see-more-btn"><a href="">Xem thêm</a></button>
    </div>
</div>

{% comment %} BLOGS {% endcomment %}
<div class="blogs-section tours-section">
    {% include 'Components/tour-section-header.html' with subtitle="Blogs" title="TỔNG HỢP BLOGS DU LỊCH 2022" content="Xem tất cả blogs"%}

    <div class="blogs-content">
        {% for blog in blogs %}
            {% include 'Components/blog-card-hori.html' with blog=blog %}
        {% endfor %} 
    </div>
    <div class="see-more">
        <button class="see-more-btn"><a href="{% url 'get-blogs' %}">Xem thêm</a></button>
    </div>
</div>


{% comment %} HOT PLACES TO GO {% endcomment %}

{% comment %} <div class="tours-section">
    {% include 'Components/tour-section-header.html' with subtitle="Hãy đặt tour sớm nhất" title="CÁC ĐỊA ĐIỂM DU LỊCH PHỔ BIẾN" content="Bao La Thế Giới Bốn Bể Là Nhà" %} {% endcomment %}

{% endblock toursContent %}