{% extends "main-2.html" %}

{% block title %}
  <title>Các tour {{location}}</title>
{% endblock title %}

{% block toursContent %}

{% if tours %}
    <div class="search-tours tours-section">
        {% include 'Components/tour-section-header.html' with title="Các tour "|add:location|add:" nổi bật"%}
        <div class="section-content image-slider">
            {% for tour in tours %}
                {% include 'Components/tour-card.html' with Tour=tour%}
            {% endfor %}
        </div>
    </div>

    <div class="more-tours tours-section">
        <div class="tours">
            <div class="title">
                <p>Các tour {{location}}</p>
            </div>
            {% for tour in tours %}
                {% include 'Components/tour-card-hori.html' with Tour=tour%}
            {% endfor %}
        </div>
        <div class="blogs">
            <div class="title">
                <p>Blog</p>
            </div>
            {% for blog in blogs %}
                <div class="blog-simple">
                    <div class="img">
                        <img src="{{MEDIA_URL}}{{blog.image}}" alt="">
                    </div>
                    <p class="title">{{blog.title}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <div class="search-tours tours-section">
        {% include 'Components/tour-section-header.html' with title="Không có tour "|add:location|add:" để hiển thị"%}
    </div>
{% endif %}

{% endblock toursContent %}