.blog-card {
    min-width: 30%;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.195);
    position: relative;
    background-color: white;
    max-width: 500px;
}

.blog-card .blog-image {
    height: 230px;
    position: relative;
}

.blog-card .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card .blog-content {
    padding: 20px;
}

.blog-card .blog-content .title {
    padding: 8px 0;
    font-size: 20px;
    margin-bottom: 16px;
}

.blog-card .blog-content .description {
  max-height: 100px;
}

.blog-card .see-detail {
    text-align: end;
    padding: 20px;
    margin-bottom: 0px;
}

.blog-card .see-detail a {
    color: var(--color-main);
    font-size: 17px;
    display: block;
}

.blog-card-hori {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 8px 16px;
}

.blog-card-hori .blog-image {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card-hori .blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-hori .blog-title {
  color: var(--color-main);
  font-weight: 400;
  font-size: 18px;
}

.blog-card-hori .blog-description {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 16px;
  overflow: hidden;
}

.blog-card .description {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
}

.blog-simple {
  margin-bottom: 16px;
}

.blog-simple .title {
  
}

.blog-simple .img{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 8px;
}

.blog-simple .img img {
  width: 100%;
}