.create-tour-form {
    width: 40%;
    margin: 20px auto;
}

.create-tour-form .title {
    margin: 24px;
}

.create-tour-form .form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    padding: 6px 12px;
}

.create-tour-form .startDate .select-date{
    display: flex;
    gap: 16px;
}

.create-tour-form .isDomestic {
    display: block;
}

.create-tour-form input, select, textarea {
    background-color: white;
    border: none;
    outline: 2px solid #aaa;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: inherit;
}

.create-tour-form select {
    display: inline;
}

.create-tour-form input:focus, 
.create-tour-form select:focus, 
.create-tour-form textarea:focus {
    border: 1px solid #aaa;
    outline: 2px solid var(--color-main);
}

.create-tour-form .submit-btn {
    display: block;
    margin: 24px auto;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    background-color: var(--color-main);
}