
@import url(tour-card.css);

/* HOME PAGE STYLES */
.tours-section {
  margin-top: 50px;
  background-color: white;
  padding: 48px 15% 32px 15%;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section-header .header-subtitle {
  color: #f5a816;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.section-header .header-title {
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 36px;
  color: #111;
}

.section-header hr {
  border: none;
  border-top: 2px solid #f5a816;
  width: 100px;
  margin: 16px 0;
  text-align: center;
}

.section-header .header-description {
  color: #333;
  font-size: 17px;
  margin: 10px 0 30px;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog-card-main {
  grid-row: span 3;
}

.blog-content {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.blog-card-main .blog-image img {
  width: 100%;
  height: 300px;
}

.blog-card-main .blog-title {
  color: var(--color-main);
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}

.blog-card-main .blog-description {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.blog-card {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
}

.blog-card .blog-image {
  grid-row: span 2;
}

.blog-card .blog-image img {
  width: 100%;
}

.blog-card .blog-title {
  color: var(--color-main);
  font-weight: 400;
  font-size: 17px;
}

.blog-card .blog-description {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.see-more {
  text-align: end;
}

.see-more-btn {
  margin-top: 20px;
  padding: 12px 32px;
  background-color: #bebebe;
  font-size: 17px;
  transition: all .6s ease;
}

.see-more-btn:hover{
  background-color: var(--color-main);
}

.see-more-btn:hover a{
  color: white;
}

/* SEARCH TOURS PAGE STYLES */
.search-tours {
  padding-bottom: 64px;
}

.search-tours-title, .tours-section h2{
 text-align: center;
 margin: 30px;
}
.more-tours{
  display: grid;
  grid-template-columns: 6fr 2fr;
  column-gap: 20px;
}

.more-tours .title:first-child {
  text-align: left;
  border-bottom: 1.5px solid  rgb(37, 113, 255);
  margin-bottom: 20px;
}

.more-tours .title:first-child p {
  font-size: 20px;
  height: 100%;
  display: inline-block;
  border-bottom: 3px solid  rgb(37, 113, 255);
}

.blog-simple {
  margin-bottom: 16px;
}

.blog-simple .img{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 8px;
}

.blog-simple .img img {
  width: 100%;
}