.tours-section {
  margin-top: 50px;
  background-color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .img-group__list {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.search-tour-box {
  background: rgb(255, 255, 255);
  display: block;
  padding: 40px;
  width: 80%;
  position: relative;
  top: -75px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.447);
}

.search-tour-box .box-title {
  font-size: 20px;
  color: #1dacfe;
  text-align: left;
  margin-bottom: 15px;
}

.box-search-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}

.box-search-tour label {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.box-search-tour .search-tour-input {
  width: 80%;
  text-align: center;
  position: relative;
}

.box-search-tour .search-tour-type {
  text-align: center;
  border: none;
  margin: 0 auto;
  padding: 16px 48px;
  font-size: 16px;
  width: 100%;
  color: #434343;
  outline: 2px solid var(--color-main);
}

.box-search-tour .search-tour-recommend {
  width: 100%;
  position: absolute;
  bottom: -112px;
  left: 0;
  background-color: #ffe5b2;
  padding: 16px;
  z-index: 5;
  display: none;
}

.box-search-tour .search-tour-recommend.show {
  display: block;
}

.search-tour-box .header {
  font-size: 20px;
  letter-spacing: 3px;
}

.search-tour-recommend .location-items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 60px;
  gap: 10px;
}

.search-tour-recommend .location-item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: flex-start;
  align-items: center;
  column-gap: 15px;
  border-radius: 4px;
  padding: 4px;
}

.search-tour-recommend .location-items:hover {
  background-color: #fff8ea;
}

.search-tour-recommend .location-item img {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 2px solid #aaa;
}

.box-search-tour .search-tour-type::placeholder {
  font-size: 16px;
  color: #a9a9a9;
}

.search-tour-box .btn-search-tour {
  width: 180px;
  box-shadow: none;
  color: #fff;
  line-height: 40px;
  position: relative;
  background: var(--color-main);
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.search-tour-box .btn-search-tour:hover {
  box-shadow: 0 0 10px var(--color-main);
}

.image-title {
  font-size: 20px;
  text-align: center;
}

.tours-section {
  padding: 48px 15% 32px 15%;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section-header .header-subtitle {
  color: #f5a816;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.section-header .header-title {
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 36px;
  color: #111;
}

.section-header hr {
  border: none;
  border-top: 2px solid #f5a816;
  width: 100px;
  margin: 16px 0;
  text-align: center;
}

.section-header .header-description {
  color: #333;
  font-size: 17px;
  margin: 10px 0 30px;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.tour-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.195);
  position: relative;
}

.tour-card .tour-image {
  height: 230px;
  position: relative;
}

.tour-card .tour-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-card .tour-image .special-note{
  padding: 4px 8px;
  background-color: #0dff00c0;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(90, 90, 90);
}

.tour-card .tour-image .location {
  display: flex;
  gap: 8px;
  background-color: #004997;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 4px 8px;
  color: white;
}

.tour-card .tour-image .location svg{
  fill: white;
  width: 13px;
}

.tour-card .tour-info {
  padding: 20px;
}

.tour-card svg{
  width: 18px;
  height: 18px;
  fill: rgb(100, 100, 100);
}

.tour-card .tour-info .tour-name {
  padding: 8px 0;
  font-size: 20px;
  padding-bottom: 16px;
}

.tour-card .tour-info .tour-other-info{
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 12px;
}

.tour-card .tour-info .tour-other-info .vehicles {
  text-align: right;
}

.tour-card .tour-info .tour-prices {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 4px;
  border-top: 1px solid rgb(186, 186, 186);
  color: rgb(100, 100, 100);
}

.tour-card .tour-info .tour-prices .old-price{
  text-decoration: line-through;
  color: #777777;
  font-size: 20px;
}

.tour-card .tour-info .tour-prices .price {
  color: red;
  font-size: 23px;
  grid-row: 2;
  grid-column: 1;
}

.tour-card .tour-info .tour-prices .price-differentiate {
  width: fit-content;
  color: white;
  padding: 4px;
  background-color: red;
  border-radius: 4px;
  grid-row: 2;
  grid-column: 2;
  justify-self: flex-end;
}

.tour-card .tour-detail-btn {
  height: 40px;
  width: 100%;
  background-color: var(--color-main);
  height: 0;
  transition: all .6s ease;
  letter-spacing: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: 2px solid var(--color-main);
  overflow: hidden;
}

.tour-card:hover {
  outline: 2px solid var(--color-main);
}

.tour-card:hover .tour-detail-btn {
  bottom: -50px;
  height: 50px;
  letter-spacing: normal;
}

.tour-card .tour-detail-btn a {
  color: white;
  font-size: 17px;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card-main {
  grid-row: span 3;
}

.blog-content {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.blog-card-main .blog-image img {
  width: 100%;
  height: 300px;
}

.blog-card-main .blog-title {
  color: var(--color-main);
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}

.blog-card-main .blog-description {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.blog-card {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
}

.blog-card .blog-image {
  grid-row: span 2;
}

.blog-card .blog-image img {
  width: 100%;
}

.blog-card .blog-title {
  color: var(--color-main);
  font-weight: 400;
  font-size: 17px;
}

.blog-card .blog-description {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.see-more {
  text-align: end;
}

.see-more-btn {
  margin-top: 20px;
  padding: 12px 32px;
  background-color: #bebebe;
  font-size: 17px;
  transition: all .6s ease;
}

.see-more-btn:hover{
  background-color: var(--color-main);
}

.see-more-btn:hover a{
  color: white;
}