@import url(components/navbar.css);
@import url(components/header.css);
@import url(components/footer.css);
@import url(pages/signinup.css);
@import url(pages/create-tour.css);
@import url(pages/introduce.css);
@import url(pages/manage.css);
@import url(components/message.css);
@import url(components/error.css);

:root {
    --color-main: rgb(0, 150, 150);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
}

button, a.button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: inherit;
}

input, select, textarea {
    font-family: inherit;
}

ul {
    list-style: none;
}

a:link,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: black;
}

.main-content {
    background-color: rgb(225, 225, 225);
    position: relative;
}