
.manage {
    width: 70%;
    margin: auto;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 24px;
}

.manage .menu {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    height: fit-content;
}

.manage .menu .account-info {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    height: 50px;
}

.manage .menu .account-info img {
    width: 60px;
    border-radius: 50%;
    grid-row: span 2;
    padding: 0 10px;
}

.manage .menu hr {
    margin: 16px 0;
    border: none;
    border-top: 2px solid #ccc;
}

.manage .menu .menu-items li{
    border-radius: 20px;
    padding: 8px 24px;
    margin: 4px 0;
}

.manage .menu .menu-items li:hover {
    background-color: var(--color-main);
}
.manage .menu .menu-items li:hover a{
    color: white;
}

.content .section {
    margin-bottom: 24px;
    padding: 32px;
    background-color: white;
    border-radius: 12px;
}

.content .personal-info {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 60px repeat(3, 1fr);
    align-items: center;
    column-gap: 48px;
}

.content .personal-info .title {
    grid-column: span 2;
    font-size: 30px;
    margin-bottom: 30px;
}

.content .personal-info .avt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    grid-row: span 3;
    min-width: 0;
    overflow: hidden;
}

.content .personal-info .avt .img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid rgb(202, 202, 202);
}

.content .personal-info .avt .img img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.content .personal-info .avt .image-label {
    border: 2px solid #aaa;
    padding: 6px 24px;
    border-radius: 30px;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

.content .personal-info .avt .image-label:hover {
    background-color: rgb(190, 190, 190);
}

.content .personal-info .avt .image-label input {
    display: none;
}

.content .form-control label{
    display: block;
    margin-bottom: 8px;
}

.content input,
.content select {
    border: 2px solid #aaa;
    padding: 12px 24px;
    border-radius: 30px;
    font-family: inherit;
    font-size: inherit;
}

.content select {
    padding: 4px 24px;
    margin: 0 4px;
}

.content input:focus,
.content select:focus {
    border: 1px solid #aaa;
    outline: 2px solid var(--color-main);
}

.content #id_sex {
    display: flex;
    gap: 20px;
}

.content .email-phoneNum,
.content .password {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 1fr;
}

.content .email-phoneNum .title,
.content .password .title {
    grid-column: span 2;
    font-size: 30px;
    margin-bottom: 30px;
}

.content .submit {
    text-align: end;
}

.content .update-btn {
    background-color: var(--color-main);
    padding: 12px 32px;
    border-radius: 10px;
    color: white;
    font-size: inherit;
    font-family: inherit;
}
