
.manage {
    padding: 3rem 15%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 24px;
    background-color: rgb(237, 237, 237);
}

.manage .menu {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    height: fit-content;
}

.manage .menu .account-info {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    height: 50px;
}

.manage .menu .account-info .img {
    aspect-ratio: 1/1;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    grid-row: span 2;
    overflow: hidden;
}

.manage .menu .account-info .img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.manage .menu hr {
    margin: 16px 0;
    border: none;
    border-top: 2px solid #ccc;
}

.manage .menu .menu-items li{
    border-radius: 20px;
    padding: 8px 24px;
    margin: 4px 0;
}

.manage .menu .menu-items li:hover {
    background-color: var(--color-main);
}
.manage .menu .menu-items li:hover a{
    color: white;
}

.manage .content {
    overflow: hidden;
}

.update-user .section,
.user-bookings,
.manage-users {
    margin-bottom: 24px;
    padding: 32px;
    background-color: white;
    border-radius: 12px;
}

.update-user .personal-info {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 60px repeat(3, 1fr);
    align-items: center;
    column-gap: 48px;
}

.update-user .personal-info .title {
    grid-column: span 2;
    font-size: 30px;
    margin-bottom: 30px;
}

.update-user .personal-info .avt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    grid-row: span 3;
    min-width: 0;
    overflow: hidden;
}

.update-user .personal-info .avt .img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid rgb(202, 202, 202);
}

.update-user .personal-info .avt .img img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.update-user .personal-info .avt .image-label {
    border: 2px solid #aaa;
    padding: 6px 24px;
    border-radius: 30px;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

.update-user .personal-info .avt .image-label:hover {
    background-color: rgb(190, 190, 190);
}

.update-user .personal-info .avt .image-label input {
    display: none;
}

.update-user .form-control label{
    display: block;
    margin-bottom: 8px;
}

.update-user input,
.update-user select {
    border: none;
    outline: 2px solid #aaa;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: inherit;
}

.update-user select {
    padding: 4px 24px;
    margin: 0 4px;
}

.update-user input:focus,
.update-user select:focus {
    outline: 2px solid var(--color-main);
}

.update-user #id_sex {
    display: flex;
    gap: 20px;
}

.update-user .email-phoneNum,
.update-user .password {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 1fr;
}

.update-user .email-phoneNum .title,
.update-user .password .title {
    grid-column: span 2;
    font-size: 30px;
    margin-bottom: 30px;
}

.update-user .submit {
    text-align: end;
}

.update-user .update-btn {
    background-color: var(--color-main);
    padding: 12px 32px;
    border-radius: 10px;
    color: white;
    font-size: inherit;
    font-family: inherit;
}

.user-bookings .title,
.manage-users .title {
    font-size: 30px;
    padding-bottom: 16px;
}

.user-bookings .booking-item {
    padding: 24px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px ;
    margin-bottom: 16px;
    border: 2px solid orange;
}

.user-bookings .booking-item:nth-child(odd) {
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #ffe694);
    background: linear-gradient(to right, #FFFFFF, #ffe694); 
    border-left: 10px solid orange;
}

.user-bookings .booking-item:nth-child(even) {
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to left, #FFFFFF, #ffe694);
    background: linear-gradient(to left, #FFFFFF, #FFEFBA); 
    border-right: 10px solid orange;
}

.user-bookings .booking-item .tour-name {
    grid-column: span 3;
    font-size: 20px;
}

.manage-users .filter {
    background-color: rgb(205, 205, 205);
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 20px;
}

.manage-users .filter input,
.manage-users .filter select {
    margin-right: 20px;
    margin-bottom: 10px;
}

.manage-users .filter p {
    font-size: 20px;
    margin-bottom: 10px;
}

.manage-users .table {
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
}

.manage-users .table table {
    border-spacing: 8px;
}

.manage-users table td,
.manage-users table th {
    padding: 2px 4px;
    white-space: nowrap;
}

.manage-users .search-btn {
    padding: 6px 12px;
    background-color: var(--color-main);
    color: white;
    border-radius: 3px;
}

.manage-users .delete-btn {
    padding: 4px 8px;
    background-color: rgb(212, 0, 0);
    color: white;
    border-radius: 3px;
}

.confirm-delete-modal {
    position: fixed;
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    padding: 36px;
    display: none;
    border-radius: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-delete-modal .title {
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid black;
}

.confirm-delete-modal .message {
    white-space: initial;
}

.confirm-delete-modal .buttons {
    text-align: end;
}

.confirm-delete-modal .buttons button {
    padding: 6px 12px;
    margin-left: 12px;
    background-color: rgb(195, 195, 195);
}

.confirm-delete-modal .buttons button:last-child {
    background-color: rgb(199, 0, 0);
}

.confirm-delete-modal.show {
    display: flex;
}
