.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.introduce .content{
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    line-height: 36.4px;
}

.introduce .divcontent{
    background-color: white;
    padding: 48px 15% 32px 15%;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
}

.introduce .intro-title{
    color:#0066d9;
    font-size: 14px;
    font-weight: 500;
    line-height: 26.4px;
    display: block;
    margin-top: 25px;
    background-color: white;

    display: flex;
    gap: 30px;
    padding: 20px 10px;
}

.introduce .p-content{
    font-size: 20px;
    background-color: white;
    padding: 0px 10px 0px 10px;
}