@import url(../components/timeline.css);

.detail-section {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 24px;
}

.tour-detail .tour-name {
    margin-bottom: 20px;
}

.tour-detail .tour-images {
    width: 90%;
}

.tour-detail .tour-images .images {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-detail .tour-images .images img:not(.show) {
    width: 100%;
    display: none;
}

.tour-detail .tour-images .images img.show {
    width: 100%;
    display: inline-block;
}

.carousel {
    width: 90%;
    height: 500px;
    margin: 0px auto;
    position: relative;
}

.control {
    padding: 0.4rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(17, 17, 17, 0.271);
    flex-shrink: 0;
    position: absolute;
    color: #aaa;
    z-index: 5;
}
.control:hover svg {
    stroke: #f59f00;
}
.prev-btn {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.next-btn {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.body {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -15px;
    gap: 10px;
}
.dot {
    width: 1.5rem;
    height: 4px;
    background-color: rgb(192, 192, 192);
    border-radius: 2px;
}
.dot.fill {
    background-color: #f59f00;
}

.tour-detail .detail-item {
    margin-bottom: 30px;
    padding: 20px;
}

.tour-detail .detail-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.182);
}

.tour-detail .detail-item > .title {
    font-size: 24px;
    color: var(--color-main);
    margin-bottom: 20px;
}

.tour-detail .tour-info .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
    align-items: center;
}

.tour-detail .tour-info .content p:first-child {
    display: inline-block;
    width: 120px;
}

.tour-detail .tour-info .content p:first-child svg {
    margin-right: 12px;
}

.tour-detail .tour-info .content p:last-child {
    display: inline-block;
    padding: 4px 20px;
    background-color: #ffc04a;
    border-radius: 4px;
}

.tour-detail .tour-info svg{
    width: 18px;
    fill: rgb(65, 65, 65);
}

.tour-detail .tour-info .tour-id p:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

.tour-detail .tour-info .tour-id p:last-child{
    color: red;
    font-weight: bold;
}

.tour-detail .tour-services svg {
    width: 20px;
    fill: #007bf5;
    margin-right: 16px;
}

.tour-detail .tour-services .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 15px;
    align-items: center;
}

.tour-sidebar {
    background-color: rgb(236, 236, 236);
    padding: 10px;
    padding-top: 120px;
}

.tour-booking {
    background-color: #011e41;
    padding: 24px 0;
}

.tour-booking .prices {
    display: grid;
    grid-template-columns: 5fr 4fr;
    background-color: #f59f00;
    padding: 20px;
    color: #011e41;
    align-items: center;
}

.tour-booking .prices .old-price {
    font-size: 20px;
    text-decoration: line-through;
}

.tour-booking .prices .price span{
    font-size: 30px;
    font-weight: bold;
}

.tour-booking .prices .price-differentiate {
    font-size: 20;
}

.tour-booking .prices .price-differentiate img{
    width: 30px;
}

.tour-booking .booking-info {
    text-align: center;
    margin-top: 20px;
    color: #011e41;
}

.tour-booking .booking-info label{
    color: #f59f00;
    font-size: 18px;
    display: block;
    margin-bottom: 6px;
}

.tour-booking .booking-info input {
    width: 60%;
    height: 40px;
    border: none;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
    color: inherit;
    outline: 2px solid #f59f00;
}

.tour-booking .book-btn {
    text-align: center;
}

.tour-booking .book-btn p {
    color: red;
}
.tour-booking .book-btn p a {
    color: inherit;
    border-bottom: 1px solid red;
}
.tour-booking .book-btn p a:hover {
    font-weight: bold;
}

.tour-booking .book-btn button {
    margin-top: 20px;
    padding: 10px 48px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--color-main);
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all .6s ease;
}

.tour-booking .book-btn button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.tour-booking .book-btn button:not(:disabled):hover {
    position: relative;
    bottom: 3px;
    right: 3px;
    box-shadow: 2px 2px 0 #f59f00;
}

.tour-counselor {
    margin-top: 20px;
}

.tour-counselor .title {
    background-color: var(--color-main);
    padding: 12px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.tour-counselor .content {
    padding: 12px;
    line-height: 2;
    background-color: white;
}

.tour-counselor .content strong {
    font-size: 20px;
    color: var(--color-main);
}

.booking-detail {
    position: fixed;
    width: 1000px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    padding: 36px;
    align-items: center;
    column-gap: 32px;
    grid-template-columns: 360px auto;
    grid-template-rows: auto 40px;
    display: grid;
    transform: rotate3d(1, -1, 0, 45deg);
    opacity: 0;
    transition: all .6s ease;
}

.booking-detail.show {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 1;
    z-index: 15;
}
.booking-detail .content .title {
    font-size: 24px;
}

.booking-detail .form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    padding: 6px 12px;
}

.booking-detail .form-control input {
    border: none;
    outline: 2px solid #aaa;
    border-radius: 0;
    padding: 8px 16px;
    font-size: inherit;
}

.booking-detail .form-control input:focus {
    outline: 2px solid var(--color-main);
}

.booking-detail .payments > label {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
}

.booking-detail .tour-booking .title {
    font-size: 24px;
    color: white;
    font-weight: 500;
    padding: 0px 32px 16px;
}

.booking-detail .tour-booking .total-price {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.booking-detail .tour-booking .total-price label {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.booking-detail .tour-booking .total-price input {
    background-color: red;
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.booking-detail .payments input {
    margin-bottom: 8px;
}

.booking-detail .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.booking-detail .submit button {
    background-color: var(--color-main);
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}