.review-card, .add-review .new-review{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 8px;
    margin-top: 16px;
}

.review-card .user-image, 
.new-review .user-image {
    width: 90%;
    grid-row: span 3;
}

.review-card .review-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: rgb(117, 117, 117);
    font-size: 14px;
}

.reviews .review-content{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
    padding: 12px 24px;
    border-radius: 8px;
    position: relative;
}

.reviews .review-content .rating,
.add-review .review-content .rating {
    display: flex;
    gap: 2px;
    margin-bottom: 6px;
}
.reviews .review-content .rating > *{
    width: 16px;
    fill: rgb(255, 191, 0);
}

.add-review .review-content input {
    padding: 8px 0;
    width: 100%;
    outline: none;
    border: none;
    font-size: inherit;
}

.add-review button {
    background-color: var(--color-main);
    color: white;
    margin-top: 20px;
}

.add-review .rating > * {
    width: 16px;
    fill: rgb(255, 191, 0);
    cursor: pointer;
}