{% extends "Users/manage.html" %}

{% load static %}

{% block manage %}

    <form action="{% url 'update-account' %}" method="POST" class="update-user">
        {% csrf_token %}
        <div class="section personal-info">
            <div class="avt">
                <div class="img">
                    <img src="{{MEDIA_URL}}{{request.user.image}}" alt="">
                </div>
                <label for="image" class="image-label">
                    {{form.image}}
                    Chọn ảnh
                </label>
            </div>
            <div class="form-control">
                <label for="name">Tên người dùng</label>
                {{form.name}}
            </div>
            <div class="form-control">
                <label for="birthday">Ngày sinh</label>
                {{form.birthday}}
            </div>
            <div class="form-control">
                <label for="birthday">Giới tính</label>
                {% for value, text in sex_choices %}
                    <input type="radio" name="sex" value="{{value}}" id="{{value}}">{{text}}
                {% endfor %}
            </div>
        </div>
        <div class="section email-phoneNum">
            <div class="form-control">
                <label for="email">Email</label>
                {{form.email}}
            </div>
            <div class="form-control">
                <label for="phoneNum">Số điện thoại</label>
                {{form.phoneNum}}
            </div>
        </div>
        <div class="section password">
            <div class="form-control">
                <label for="password">Mật khẩu hiện tại</label>
                {{form.password}}
            </div>
            <div class="form-control">
                <label for="newPassword">Mật khẩu mới</label>
                {{form.newPassword}}
            </div>
        </div>

        {{form.errors}}

        <button type="submit" class="update-btn">Cập nhật</button>
    </form>

{% endblock manage %}