{% extends "Users/manage.html" %}

{% block title %}
  <title>Tài khoản</title>
{% endblock title %}

{% load static %}

{% block manage %}

    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% include 'Components/flash_message.html' with messages=errors%}
        {% endfor %}
    {% else %}
        {% include 'Components/flash_message.html'%}
    {% endif %}

    <form action="{% url 'update-account' %}" method="POST" class="update-user" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="section personal-info">
            <p class="title">Thông tin người dùng</p>
            <div class="avt">
                <div class="img">
                    <img src="{{MEDIA_URL}}{{request.user.image}}" alt="">
                </div>
                <label for="image" class="image-label">
                    {{form.image}}
                    Chọn ảnh
                </label>
            </div>
            <div class="form-control">
                <label for="name">Tên người dùng</label>
                {{form.name}}
            </div>
            <div class="form-control">
                <label for="birthday">Ngày sinh</label>
                {{form.birthday}}
            </div>
            <div class="form-control">
                <label for="birthday">Giới tính</label>
                {{ form.sex }}
            </div>
        </div>
        <div class="section email-phoneNum">
            <p class="title">Email và Số điện thoại</p>
            <div class="form-control">
                <label for="email">Email</label>
                {{form.email}}
            </div>
            <div class="form-control">
                <label for="phoneNum">Số điện thoại</label>
                {{form.phoneNum}}
            </div>
        </div>
        <div class="submit">
            <button type="submit" class="update-btn">Cập nhật</button>
        </div>
        {{form.errors}}
    </form>

    <form action="{% url 'update-password' %}" method="POST" class="update-user">
        {% csrf_token %}
        <div class="section password">
            <p class="title">Mật khẩu</p>
            <div class="form-control">
                <label for="password">Mật khẩu hiện tại</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="newPassword">Mật khẩu mới</label>
                <input type="password" name="newPassword" id="newPassword">
            </div>
        </div>

        <div class="submit">
            <button type="submit" class="update-btn">Cập nhật mật khẩu</button>
        </div>
    </form>

{% endblock manage %}