{% extends "Users/manage.html" %}

{% block title %}
  <title>Các tour đã đặt</title>
{% endblock title %}

{% load static %}

{% block manage %}

    <div class="user-bookings">
        <p class="title">Các tour đã đặt</p>
        {% for booking in bookings %}
            <div class="booking-item">
                <p class="tour-name">
                    {{booking.tourID.name}}
                </p>
                <p class="tour-id">
                    Mã tour: {{booking.tourID.id}}
                </p>
                <p class="booking-date">
                    Ngày đặt: {{booking.bookingDate}}
                </p>
                <p class="price">
                    Tổng tiền đặt tour: {{booking.price}}
                </p>
                <div class="status">
                    <a class="detail-btn button" href="{% url 'get-tour' booking.tourID.id %}">Xem chi tiết</a>
                    <button class="{{booking.status}}">{{booking.get_status_display}}</button>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock manage %}