{% extends "main.html" %}

{% load static %}

{% block content %}
<div class="manage">
    <div class="menu">
        <div class="account-info">
            <div class="img">
                <img src="{{ MEDIA_URL }}{{request.user.image}}" alt="User's avatar">
            </div>
            <p class="username">{{request.user.name}}</p>
            <p class="phoneNum">{{request.user.phoneNum}}</p>
        </div>
        <hr>
        <ul class="menu-items">
            {% if request.user.is_superuser == False %}
                <li><a href="{% url 'show-bookings' %}">Các tour đã đặt</a></li>
            {% else %}
                <li><a href="{% url 'manage-users' %}">Quản lý người dùng</a></li>
                <li><a href="{% url 'manage-tours' %}">Quản lý các tour</a></li>
                <li><a href="{% url 'manage-bookings' %}">Quản lý đặt tour</a></li>
            {% endif %}
            <li><a href="{% url 'update-account' %}">Tài khoản</a></li>
            <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
        </ul>
    </div>
    <div class="content">
        {% block manage %}
        
        {% endblock manage %}
    </div>
</div>
{% endblock content %}